.button-add {
  display: flex;
  flex-direction: row;
  font-size: 2em;
  cursor: pointer;
  color: #252e46;
}

.button-cancel {
  display: flex;
  flex-direction: row;
  font-size: 2em;
  cursor: pointer;
  color: #252e46;
}

.button-edit {
  display: flex;
  flex-direction: row;
  font-size: 2em;
  cursor: pointer;
  color: #252e46;
}

.button-delete {
  display: flex;
  flex-direction: row;
  font-size: 2em;
  cursor: pointer;
  color: #252e46;
}

.button-apply {
  display: flex;
  flex-direction: row;
  font-size: 2em;
  cursor: pointer;
  color: #252e46;
}
