.repairs-header h3 {
  margin-top: 0;
}

.repairs-header {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 8em;
}

.repairs-header-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
  margin-right: 8em;
}
.button-add {
  display: flex;
  flex-direction: row;
  font-size: 2em;
  cursor: pointer;
  color: rgb(133, 173, 73);
}

.repairs-list {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
}

.repair-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1em;
  margin-left: 8em;
  margin-right: 8em;
  border-radius: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.repair-item:hover:not(.title, .icons) {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.65);
}

.repair-item span {
  flex-basis: 20%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#for-car-repair,
#for-car-repair-title {
  flex-basis: 25%;
}

.repair-item .amount {
  font-weight: 600;
  color: white;
}

.amount-background {
  background-color: #252e46;
  border-radius: 1em;
  padding: 0.25em 2em;
}

.title {
  font-weight: bold;
  box-shadow: none;
  margin-bottom: -1em;
  margin-top: 0;
}

.icons {
  box-shadow: none;
  margin-bottom: -2em;
}

.repair-item .amount.title {
  margin-right: 1em; /* Add right margin to the amount title */
}
