.home-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Styles for the login and registration section */
.home-login-register {
  text-align: center;
  margin-bottom: 20px;
}

.home-login-register h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.home-login-register button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

/* Styles for the registered items section */
.home-registered-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  text-align: center;
}

.home-registered-item {
  border-radius: 1em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.title-registered-item {
  color: rgb(94, 94, 94);
  padding: 1em;
  font-size: 14px;
  margin: 0;
}

.blue {
  background-color: aqua;
}

.orange {
  background-color: rgb(247, 182, 62);
}

.green {
  background-color: greenyellow;
}

.purple {
  background-color: rgb(247, 168, 247);
}

.count-registered-item {
  font-size: 38px;
  color: #252e46;
  margin-top: 0.2;
  margin-bottom: 0.2em;
}

.home-recent-items {
  margin: 1em 0 1em 0;
  border-radius: 1em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.home-statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
  margin-bottom: 1em;
  background-color: #252e46;
}
.home-recent-items h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.home-statistic select {
  appearance: none; /* Removes default arrow icon */
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  width: 200px;
  outline: none;
  cursor: pointer;
  text-align: center;
}
.home-statistic option {
  padding: 8px 16px; /* Padding inside the option */
  font-size: 16px; /* Font size */
  text-align: center;
}

select::-ms-expand {
  display: none; /* Hide the default arrow on Internet Explorer */
}

select::after {
  content: "\25BC"; /* Unicode arrow-down character */
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #ffffff; /* Color of the arrow */
}

.home-statistic h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1em;
  color: rgb(253, 253, 253);
}

.total-amount {
  font-size: 48px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  transition: color 2s, font-size 5s;
}

.home-messages {
  border-radius: 1em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.home-messages h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  /* Adjust the width of the container form */
  .home-login-register {
    margin: 10em 1em;
  }
}

/* Adjust the width of the input */
.home-login-register button {
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}
