.home-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Styles for the login and registration section */
.home-login-register {
  margin-left: 14em;
  margin-right: 14em;
  text-align: center;
  display: block;
  margin-top: 15vh;
  border: 1px dotted;
  border-radius: 0.25em;
  padding: 4em 2em 4em 2em;
}

.home-login-register img {
  background-color: #252e46;
  padding: 1em;
  border-radius: 1em;
  max-width: 200px;
  margin: 0 auto;
}

.home-login-register h2 {
  color: #252e46;
  margin-bottom: 10px;
}

.home-login-register button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

/* Styles for the registered items section */
.home-registered-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  text-align: center;
  margin-bottom: 1em;
}

.home-registered-item {
  border-radius: 1em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.title-registered-item {
  color: rgb(94, 94, 94);
  padding: 1em;
  font-size: 14px;
  margin: 0;
}

.blue {
  background-color: aqua;
}

.orange {
  background-color: rgb(247, 182, 62);
}

.green {
  background-color: greenyellow;
}

.purple {
  background-color: rgb(247, 168, 247);
}

.count-registered-item {
  font-size: 38px;
  color: #252e46;
  margin-top: 0.2;
  margin-bottom: 0.2em;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home-recent-items {
  margin: 1em 0 1em 0;
  border-radius: 1em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
  background-color: white;
}

.home-recent-items p {
  text-align: center;
  color: rgb(5, 0, 0);
}

.home-recent-items h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1em;
  color: 252e46;
}
.home-statistic {
  display: flex;
  flex-direction: row;
  background-color: #252e46;
  border-radius: 1em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
  flex-wrap: wrap;
  justify-content: space-between;
}

.stat-icons {
  color: white;
  font-size: 10em;
  margin: auto auto;
  opacity: 0.1;
}

.home-statistic-items {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-recent-items h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.home-recent-item {
  display: flex;
  flex-direction: row;
}

.home-recent-item-detail {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  margin: 2em;
  background-color: #252e46;
  border-radius: 1em;
}
.home-recent-item-detail p {
  color: rgb(226, 226, 226);
  padding-left: 1em;
  padding-right: 1em;
}
.home-recent-item-detail p:first-child {
  font-weight: bold;
  color: white;
}

.home-statistic-items select {
  appearance: none; /* Removes default arrow icon */
  background-color: rgb(226, 226, 226);
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  width: 200px;
  outline: none;
  cursor: pointer;
  text-align: center;
}
.home-statistic-items option {
  padding: 8px 16px; /* Padding inside the option */
  font-size: 16px; /* Font size */
  text-align: center;
}

select::-ms-expand {
  display: none; /* Hide the default arrow on Internet Explorer */
}

select::after {
  content: "\25BC"; /* Unicode arrow-down character */
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #ffffff; /* Color of the arrow */
}

.home-statistic-items h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1em;
  color: rgb(253, 253, 253);
}

.total-amount {
  font-size: 4em;
  font-weight: bold;
  color: rgb(255, 255, 255);
  transition: color 2s, font-size 5s;
}

.home-messages {
  border-radius: 1em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.home-messages h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.home-messages p {
  text-align: center;
  color: orange;
  background-color: #252e46;
  display: block;
  padding: 1em;
  border-radius: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* Adjust the width of the input */
.home-login-register button {
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.messages-title {
  margin-top: 0.5em;
  display: flex;
  gap: 0px;
  flex-direction: row;
  justify-content: center;
  position: relative; /* Needed for the pseudo-element positioning */
}

.messages-title span {
  margin-top: 0.5em;
  background-color: #252e46; /* Blue background color */
  color: orange; /* White text color */
  font-weight: bold; /* Bold font weight */
  font-size: 1em;
  border-radius: 50%;
  padding: 1px 0.6em; /* Add padding to create space for the index indicator */
  margin-bottom: 1.4em;
}

.messages-title:before {
  position: absolute;
  top: 50%;
  left: -25px; /* Adjust the left position to align the index */
  transform: translateY(-50%); /* Center vertically */
  background-color: #007bff; /* Blue background color */
  color: white; /* White text color */
  font-weight: bold; /* Bold font weight */
  font-size: 0.8em; /* Adjust the font size for the index */
  padding: 5px; /* Add padding to style the index indicator */
  border-radius: 50%; /* Rounded shape */
}

.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  /* Adjust the width of the container form */
  .home-login-register {
    margin: 10em 1em;
  }

  .home-registered-items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
  }

  .home-statistic {
    display: flex;
    flex-direction: column;
    background-color: #252e46;
  }

  .home-recent-item {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
