* {
  box-sizing: border-box;
}

.nav-bar {
  height: 3.3em;
  background-color: #252e46;
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  align-items: center;
}

.nav-bar ul a {
  color: aliceblue;
  text-decoration: none;
}

.nav-bar ul {
  margin: auto 5rem auto 0;
  color: aliceblue;
}

.nav-bar li {
  display: inline;
  padding: 0 2rem 0 0;
}

.nav-bar li:active {
  color: rgb(249, 113, 63);
}

.nav-bar li:hover {
  cursor: pointer;
  color: rgb(133, 173, 73);
  text-decoration: solid;
}

.logo {
  max-width: 150px;
  display: block;
  margin: auto 0 auto 5rem;
}
