.footer {
  background-color: aliceblue;
  padding: 1em;
  color: #252e46;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .footer {
    margin-top: 1em;
  }
}
