/* Responsive styles for the modal background */
.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive styles for the modal container */
.modalContainer {
  width: 90%;
  max-width: 500px;
  height: auto;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 1px 10px 1px #252e46;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

/* Responsive styles for the select inputs within the modal body */

/* Responsive styles for the modal body */
.modal-body {
  display: flex;
  flex-direction: column;
}
.modalContainer input {
  margin: 1em 2em 0em 1.7em;
}

/* Responsive styles for the select inputs within the modal body */
.modal-body select {
  background-color: white;
  margin: 1em 2em 0em 2em;
  padding: 0.6rem 4.8rem 0.6rem 1.3rem;
  border: 1px solid;
  border-radius: 0.3em;
}

/* Responsive styles for the heading within the modal body */
.modal-body h2 {
  text-align: center;
  color: #252e46;
  margin-top: 0;
}

/* Responsive styles for the labels within the modal body */
.modal-body label {
  padding: 0;
  margin: 1em 1em -1em 2em;
  font-size: 14px;
  text-align: left;
}

/* Responsive styles for the close button */
.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  color: #252e46;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: #252e46;
}

/* Responsive styles for the footer */
.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive styles for the buttons within the footer */
.modalContainer .footer button {
  padding: 8px 24px;
  margin: 1em;
  margin-bottom: 2em;
  border: none;
  background-color: rgb(133, 173, 73);
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

/* Responsive styles for the cancel button */
#cancelBtn {
  background-color: rgb(212, 97, 97);
}

/* Responsive styles for smaller screen sizes */
@media screen and (max-width: 800px) {
  /* Adjust the margin and padding of the select inputs */

  .modal-body select {
    margin: 1em 1em 0em 1em;
    padding: 0.6rem 2.4rem 0.6rem 0.8rem;
  }

  /* Adjust the margin of the labels */
  .modal-body label {
    margin: 1em 1em -1em 1em;
  }

  .modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -260px;
  }
  .modalContainer {
    max-width: 500px;
    height: 600px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 1px 10px 1px #252e46;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
}
